img{
    width: 80%;
}
.parent:hover .hide{
    display: block;
}

.hide{
    background-color: black;
    opacity: 0.8;
    color: white;
    text-align: center;
    position: absolute;

    left: 10%;
    top: 0;
    width: 80%;
    height: 100%;
    text-align: center;
    display: none;
    padding: 5%;
    font-size: 0.5vw;
}

.parent{
    position: relative;
}

.noshow{
    display: none;
}
