.center{
    margin-left: auto;
    margin-right: auto;
}

.padding{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;

}


table {
    font-size: 1vw;
}

.noshow{
    display: none;
}



.responsive-width {
    font-size: 1vw;
}