body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

#signup,#goback_signin{

    height: 60px;
    font-size: 0.9rem;


}

.btn-custom{
    width: 100%;
    padding-left:25px;
    padding-right:25px;
}

.myround{
    border-radius: 20px;
}