<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

	<link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">

</head>
<body>
<section class="ftco-section">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="../home">
			<div id="brand-name" >
				Hi <span th:text="${session.loginUser}">Username</span>!
			</div>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="../home">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../proposeEvent">Propose Event</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../blockUsers">Block Users</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../unblockUsers">Remove Blocked Users</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Messages</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../logout">Log Out</a>
				</li>

			</ul>
		</div>
	</nav>
	<div class="container">
		<!-- <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Calendar #04</h2>
            </div>
        </div> -->
		<div class="row">
			<div class="col-md-12">
				<div class="content w-100">
					<div class="calendar-container">
						<div class="calendar">
							<div class="year-header">
								<span class="left-button fa fa-chevron-left" id="prev"> <strong><</strong></span>
								<span class="year" id="label"></span>
								<span class="right-button fa fa-chevron-right" id="next"><strong>></strong></span>
							</div>
							<table class="months-table w-100">
								<tbody>
								<tr class="months-row">
									<!-- <td class="month">Jan</td>
                                    <td class="month">Feb</td>
                                    <td class="month">Mar</td>
                                    <td class="month">Apr</td>
                                    <td class="month">May</td>
                                    <td class="month">Jun</td>
                                    <td class="month">Jul</td>
                                    <td class="month">Aug</td>
                                    <td class="month">Sep</td>
                                    <td class="month">Oct</td>
                                    <td class="month">Nov</td>
                                    <td class="month">Dec</td> -->
									<td class="month">01</td>
									<td class="month">02</td>
									<td class="month">03</td>
									<td class="month">04</td>
									<td class="month">05</td>
									<td class="month">06</td>
									<td class="month">07</td>
									<td class="month">08</td>
									<td class="month">09</td>
									<td class="month">10</td>
									<td class="month">11</td>
									<td class="month">12</td>
								</tr>
								</tbody>
							</table>

							<table class="days-table w-100">
								<td class="day">Sun</td>
								<td class="day">Mon</td>
								<td class="day">Tue</td>
								<td class="day">Wed</td>
								<td class="day">Thu</td>
								<td class="day">Fri</td>
								<td class="day">Sat</td>
							</table>
							<div class="frame">
								<table class="dates-table w-100">
									<tbody class="tbody">
									</tbody>
								</table>
							</div>
							<button class="button" id="add-button">Add Event</button>
						</div>
					</div>
					<div class="events-container">
					</div>
					<div class="dialog" id="dialog">
						<h2 class="dialog-header"> Add New Event </h2>
						<form class="form" id="form">
							<div class="form-container" align="center">
								<label class="form-label" id="valueFromMyButton" for="name">Event name</label>
								<input class="input" type="text" id="name" maxlength="36">
								<label class="form-label" id="valueFromMyButton" for="count">Number of people to invite</label>
								<input class="input" type="number" id="count" min="0" max="1000000" maxlength="7">
								<input type="button" value="Cancel" class="button" id="cancel-button">
								<input type="button" value="OK" class="button button-white" id="ok-button">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	Created by Team 36: Minyi Chen, Zhewen Yu, Kaituo Xu, Mengfei Zhang, Rithik Pothuganti <sup><a href="#fn1" id="ref1">1</a></sup>

</section>

<!--<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../static/js/home.js" th:src="@{/js/home.js}"></script>

</body>
</html>